@import '../../styles/colors.scss';

@keyframes slow-appear {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0.3;
  }
  60% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.alert {
  position: absolute;
  min-width: 400px;
  width: 30%;
  bottom: 100px;
  left: 100px;
  animation: 1s linear slow-appear;
}

.wrapper {
  margin-top: 20px;
  width: 80%;
}

.productWrapper {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 350px 1fr;
  grid-template-rows: 1fr;
}

.title {
  font-size: 28px;
}

.priceLabel {
  margin: 0;
  font-size: 30px;
  font-weight: 500;
  color: $deepRed;
}

.buyButtonsWrapper {
  margin: 50px 0;
  display: flex;
  align-items: center;
  gap: 50px;
}
