@import '../../styles/colors.scss';

.navbar {
  background-color: $dark-gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #fff;
}

.menu {
  display: flex;
  align-items: center;
}

.leftPart {
  display: flex;
  align-items: center;
  gap: 40px;
}

.menuitem {
  margin: 0 15px;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;

  &:hover {
    color: darken($color: #fff, $amount: 20%);
  }
}
