@import '../../styles/colors.scss';

.wrapper {
  padding: 10px;
  display: grid;
  grid-template-columns: 100px 1fr 80px;
}

.contentWrapper {
  margin: 0 20px;

  h3 {
    margin-bottom: 5px;
  }
  .text {
    margin: 2px 0;
  }
}

.actionButtonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.actionButton {
  color: lighten($color: #000000, $amount: 20%);
}
