.wrapper {
  width: 350px;
  padding: 20px 50px;
  position: absolute;
  top: 50%;
  left: 50vw;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  z-index: 11;
}

.form {
  margin: 20px 0 0;
  width: 100%;
}

.buttonWrapper {
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
  
  .formButton {
    width: 50px;
    padding: 10px 50px;
  }
}
