@import '../../styles/colors.scss';

.form {
  padding: 40px 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid $lightGray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: dimgray 5px 5px 15px;
  align-content: center;
  justify-items: center;
}

.field {
  margin: 10px 0;
  width: 350px;
}

.errorWrapper {
  height: 15px;
}

.error {
  margin: 0;
  padding: 0;
  color: $deepRed;
  font-size: 14px;
}

.button {
  margin-top: 10px;
  padding: 10px 30px;
  width: fit-content;
  align-self: center;
}
