@import '../../styles/colors.scss';

.card {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-items: center;
  width: 260px;
  flex-shrink: 0;

  img {
    align-self: center;
    cursor: pointer;
  }

  &:hover {
    box-shadow: dimgray 5px 5px 15px;
  }
}

.buyingPanel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}

.priceLabel {
  font-size: 17px;
  font-weight: 500;
  color: $brightDarkBlue;
}

.titleWrapper {
  margin-top: 10px;
  height: 50px;
}

.title {
  margin: 0;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.addButton {
  font-size: 12px;
  height: 40px;
}
