@import '../../styles/colors.scss';

.wrapper {
  padding: 10px;
  display: grid;
  grid-template-columns: 100px 1fr 200px;
}

.contentWrapper {
  margin: 0 20px;
}

.count {
  padding: 5px 15px;
}

.addRemoveButtonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.addRemoveButton {
  width: fit-content;
  padding: 5px;
}

.actionButtonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.removeButton {
  color: lighten($color: #000000, $amount: 20%);
}

.price {
  font-size: 20px;
  font-weight: 500;
  color: $deepRed;
}
