.wrapper {
  width: max-content;
  height: max-content;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  background-color: rgb(255, 255, 255);
  min-width: fit-content;
  width: 700px;
  padding: 40px;
  border: 1px solid rgb(207, 207, 207);
  border-radius: 1px;
  z-index: 11;
}

.formWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 25px;
}
